<section id="about-rap" class="about-rap-section">
    <h2>Crear batalla nueva</h2>
    <form >
        <div>
            <label for="title">Título:</label>
            <input id="title" class="form-control" />
        </div>

        <div>
            <label for="description">Descripción:</label>
            <textarea id="description" class="form-control"></textarea>
        </div>

        <div>
            <label for="rapper1">Raper 1:</label>
            <input id="rapper1" class="form-control" />
        </div>

        <div>
            <label for="rapper2">Raper 2:</label>
            <input id="rapper2" class="form-control" />
        </div>

        <div>
            <label for="videoUrl">URL del Video:</label>
            <input id="videoUrl" class="form-control" />
        </div>

        <div>
            <label for="date">Fecha de la batalla:</label>
            <input id="date" type="date" class="form-control" />
        </div>

        <button type="button" id="btnAddBattle">Nueva batalla</button>
    </form>
</section>
